body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-left: 1em;
}

main {
  display: flex;
  border-top: 1px solid gray;
}

nav {
  border-right: 1px solid gray;
}

fieldset {
  display: flex;
  flex-direction: column;
}

header {
  font-weight: bold;
}

section {
  width: 350px;
}

section > div {
  padding: 1em;
  border: 1px solid gray;
}

section > div > div {
  display: flex;
  justify-content: space-between;
}

nav, section {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

dialog {
  border: 1px solid gray;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
