body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-left: 1em;
}

main {
	display: flex;
	border-top: 1px gray solid;
}

nav {
	border-right: 1px gray solid;
}

fieldset {
	display: flex;
	flex-direction: column;
}

header {
	font-weight: bold;
}

section > div {
	min-width: 300px;
	padding: 1em;
	border: 1px gray solid
}

section > div > div {
	display: flex;
	justify-content: space-between;
}

nav, section {
	display: flex;
	flex-direction: column;
	padding: 1em;
	gap: 1em;
}